<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>$title$</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="/css/style.css" />

    <!-- Metadata -->
    $if(description)$
    <meta name="description" content="$description$"/>
    $endif$
  </head>
  <body>
    <div id="outer">
      <div id="inner">
        $body$        
      </div>
    </div>
  </body>
</html>
